services:
  jackett:
    container_name: jackett
    image: lscr.io/linuxserver/jackett:latest
    ports:
      - "9117:9117"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Asia/Shanghai
    volumes:
      - <your local storage >:/config  # <-- replace with your local path
      - <your local storage >/downloads:/downloads # <-- replace with your local path